region = "ap-south-1"

project_name = "crickethub"
environment  = "dev"

vpc = {
  cidr            = "10.10.0.0/16"
  azs             = ["ap-south-1a", "ap-south-1b"]
  public_subnets  = ["10.10.1.0/24", "10.10.2.0/24"]
  private_subnets = ["10.10.11.0/24", "10.10.12.0/24"]
}

eks = {
  version        = "1.29"
  instance_types = ["t3.medium"]
  min_size       = 1
  desired_size   = 2
  max_size       = 3
  disk_size      = 50
}

alb_controller = {
  enabled = true
}

ebs_csi = {
  enabled = true
}

common_tags = {
  Project     = "crickethub"
  Environment = "dev"
  ManagedBy   = "terraform"
}
